<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido Administrador</h3>
                </div>
                <div class="card-body d-flex p-4">
                    <a href="/signup" class="col-md-6"><button class="btn btn-primary btn-block">
                            Registrar Usuario
                        </button></a>
                    <a href="/listUsers" class="col-md-6"><button class="btn btn-primary btn-block">
                            Mostrar Usuarios
                        </button></a>
                </div>
                <div class="card-body d-flex p-4">
                    <a href="/listDel" class="col-md-6"><button class="btn btn-primary btn-block">
                            Borrar Datos
                        </button></a>
                    <a href="/logout" class="col-md-6"><button class="btn btn-primary btn-block">
                            Desconectarse
                        </button></a>
        </div>
            </div>
        </div>
    </div>
</div>